html {
     height: 100%; /* makes sure our HTML takes up 100% of the browser window */
     font-size: 100%;
}

.main-header {
    background-color:darkgrey;
    display: table;
    color:black;
    position: relative;
    padding: 2rem;
}

.room-list {
  display: table-cell;    
}

.modal-body {
    background-color:lightgrey;
    color: black;
}

.btn {
    display:inline;
}

.contents {
   display: inline;
}