
<section class="selling-points container clearfix">
       <div class="column fourth">
           <h2>Bloc Chat <button type="button" class="btn" ng-click="home.chatRooms.open()">New Room</button></h2>
           <div ng-repeat="room in home.chatRooms.all">
               <div ng-click="home.getChatContents(room.$id, room)"><h4><span ng-class="{'room-list': home.roomClicked.indexOf(room.$id) != -1}">{{room.roomName}}</span></h4></div>
           </div>
       </div>
        <div class="column two-third chat-border">
            <h3>{{home.roomName}} </h3>
            <div ng-repeat="contents in home.chatContents">
                <div class="user"> <h4> {{contents.username}}</h4></div>    
                <div> {{contents.content}}</div>
                <div> {{contents.sentAt}}</div>    
            </div>
            
            <div class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="home.msgContents"></textarea>
            </div>
                <button class="btn-success" type="submit" ng-click="home.sendChatContents()">Send</button>             
        </div>
    
    
</section>

<section class="modal-initiate">
    
    <script type="text/ng-template" id="modalContent.html">
        <div>
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Create New Room</h3>
            </div>
            
            <div class="modal-body" id="modal-body">
                <input type="text" ng-model="modal.roomName">Enter a room name<br>
            </div>
            
            <div class="modal-footer">
                <button ng-click="modal.ok()">Create room</button>
                <button ng-click="modal.cancel()">Cancel</button>
            </div>
        </div>    
    </script>
    
</section>
